<form
  class="max-w-lg mx-auto mt-5 border border-gray-400 p-3 rounded-lg"
  #form="ngForm"
  (ngSubmit)="onSubmit(form)"
  enctype="multipart/form-data"
>
  <div class="mb-5">
    <label
      for="name"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Tên</label
    >
    <input
      type="name"
      name="name"
      ngModel
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required
    />
  </div>
  <div class="mb-5">
    <label
      for="img"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Hình ảnh</label
    >
    <input type="file" name="img" required ngModel #img />
  </div>

  <button
    [disabled]="!form.valid && true"
    type="submit"
    class="{{
      !form.valid && 'opacity-65'
    }} text-white bg-purple-600 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</form>
